body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcecdd;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width:1440px;
    align-content: center;
    margin: auto;
    
}

.header {
    font-size: 18px;
    height: 50px;
    margin: 0;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

/* Hamburger button style & transition -- START*/

.ham {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #6b6a6a;
    border-radius: 30%;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
  }

/* Hamburger button style & transition -- END*/

.hero { 
  flex: 1;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  
} 

.hero h2{
   font-size: 48px;
   color: #fcecdd;
   position: absolute;
   font-weight: 100;
        
  }
  
.hero button{
  padding: 10px 20px;
  color:#fcecdd;
  border: solid 2px #fcecdd;
  background-color: transparent;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}

.subhero{
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  height: 350px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 30px 0;
}

.subhero img{
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  position: absolute;
  
}

.subhero h1{
  font-size: 36px;
  font-weight: 100;
  color: rgb(114,108,95);
  position: relative;
  align-content: center;
  flex: 1;
  margin: 0;
}

.subhero p{
  font-size: 24px;
  color: rgb(114,108,95);
  position: relative;
  text-align: justify;
  font-weight: 600;
  padding: 0 20% 0 20%;
  flex: 2;
  margin-top:0;

}

.bio {
  display: flex;
  margin-bottom: 80px;
}

.bg-bio{
  position: absolute;
  margin-left: 40px;
  margin-top: -160px;
  font-size: 220px;
  font-weight: 400;
  color: rgb(241,228,214);
  opacity: 0.3;
}

.biotext{
  padding: 0 5% 0 7%;
  flex: 1;
  font-size: 15px;
  margin:0;
  align-self: center;
  
  
}

.biopic{
  flex:1 ;
  
}

.services{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.bg-services{
  margin-left: 40px;
  margin-top: 0px;
  font-size: 220px;
  font-weight: 400;
  color: rgb(241,228,214);
  opacity: 1;
  flex:1;
}

.srv-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
  position: absolute;
  margin-top: 150px;
  align-self: center;
  flex-wrap: wrap;
  
}

 .service1 , .service2 , .service3 {
  width: 250px;
  height: 250px;
  flex-flow: column;
  background-color: rgb(234,219,202);
  padding: 30px 20px;
  flex:1 1 0;
  max-width: 250px;
}

.service-title{
  font-weight: 900;
  color: rgb(114,108,95);
  margin-bottom: 30px;
}

.service-txt {
  color: rgb(114,108,95);
}

.subservices{
  
}

.gallery{
  display: flex;
  flex-flow: column;
}

.bg-gallery{
  margin-left: 40px;
  margin-bottom: -120px;
  font-size: 220px;
  font-weight: 400;
  color: rgb(241,228,214);
  opacity: 0.8;
  flex:1;
}
.carousel {
  background-image: url(./images/gallery_background.jpg);
    flex:1 1 300px;
}

.bg-contact{
  margin-top: 40px;;
  margin-bottom: -100px;
  margin-right: 40px;
  font-size: 220px;
  font-weight: 400;
  color: rgb(241,228,214);
  opacity: 0.4;
  flex:1;
  text-align: right;
  
}

.contact {
  display: flex;
  gap: 64spx;
}

.contactimg{
  flex: 1;
}

.contactinfo{
  flex: 1;
}

.contactinfo ul {
  list-style-type: none;
  margin: 0;
  padding-left: 60px;
  color: rgb(114,108,95);
  line-height: 3.5em;
}

.contact-details li {
  color: rgb(114,108,95);
  font-size: 28px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-details img {
  margin-right: 20px;
}


.contact-details li:nth-child(3n)::marker {  
  content: url("/images/insta_button_20.webp") ' ';  
}

.contact-details li:nth-child(3n - 1)::marker {  
  content: url("/images/viber_button_20.webp") ' ';  
}  

.contact-details li:nth-child(3n + 1)::marker {  
  content: url("/images/Fb_button_20.webp") ' ';  
}  

.contact-details li:nth-child(3n - 2)::marker {  
  content: url("/images/mail_button_20.webp") ' ';  
}

.testimonials {
  background-image: url(./images/testimonials_background.jpg);
  background-size: 100%;
  margin: 150px 0;
  flex: 1 1 316px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.testimonial {
  flex: 0 0 auto;
  height: 280px;
  width: 280px;
  -moz-border-radius: 140px;
  border-radius: 140px;
  background-color: white;
  color: rgb(114,108,95);
  
}


.quote-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
  
}

.blockquote{
  display: flex;
  flex-direction: column;
}

.text {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}

#quotetxt {
  height: 100%;
  font-size: 16px;
  font-style: italic;
  padding: 0;
  text-align: center;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
  color: rgb(114,108,95);
}

#quoter {
  display: inline-block;
  
}

.text::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(
    0 0,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 7%;
}

.text p::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
  );
  shape-margin: 7%;
}

.quote-wrapper::before {
  content: "\201C";
  font-size: 270px;
  height: 82px;
  line-height: 0.78;
  line-height: 1;
  position: absolute;
  top: -48px;
  left: 0;
  z-index: 1;
  font-family: sans-serif, serif;
  color: #ccc;
  opacity: 0.9;
}

@media (min-width: 850px) {
  .quote-wrapper {
    width: 370px;
    height: 370px;
  }

  .quote-wrapper::before {
    font-size: 300px;
  }

  .text p {
    font-size: 26px;
  }


}


.footer{
background-color: rgb(114,108,95);
display: flex;
justify-content: center;
}

.footer img{
  padding: 20px;
}